.margTop {
	margin-top: 20px;
}

.da {
	color: #fff200;
}

.card-header {
	background-color: #fff200;
}

.txt1 {
	padding-top: 30px;
	font-size: 1.5em;
}

.txt {
	font-size: 4em; 
	font-weight: 700;
	color: #000;
}

.trhead {
	background-color: #fff200;
}

.btnSAL {
  background-color: transparent; 
  color: #fff200; 
  border: 2px solid #fff200;
}

.btnSAL:hover {
  background-color: #fff200;
  color: #000;
}

.modal-header {
	background-color: #fff200;
}

.btnView {
	background-color: #fff200 !important;
  	border: 2px solid #fff200;
  	color: #000 !important;
}

.btnView:hover {
	background-color: transparent !important;
  	border: 2px solid #fff200;
  	color: #000 !important;
}

.btn-secondary:hover {
	background-color: transparent !important;
	color: #000 !important;
}
