{% extends 'wallet/userbase.html' %}
{% load static %}

{% block body_block %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    #page-content-wrapper {
        background: url("{% static 'img/basebg.PNG' %}") no-repeat;
        background-size: cover;
    }

    .jumbotron {
        background-color: rgba(254, 255, 255, 0.8);
        border: 2px solid #333;
        color: #ffffff;
        margin: 0 auto;
    }

    .nav-tabs .nav-link {
        margin-right: 5px;
        color: #555;
        background-color: #e9ecef;
    }

    .nav-tabs .nav-link.active {
        color: #ffff;
        background-color: #9c7b16;
    }

    .box {
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        border: 2px solid #333;
        border-radius: 10px;
        padding: 20px;
    }

    .box1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 344px;
        height: 246px;
        border: 2px solid #333;
        border-radius: 10px;
        padding: 20px;
    }

    .box2 {
        display: flex;
        align-self: center;
        justify-content: center;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        border: 2px solid #333;
        border-radius: 10px;
        padding: 20px;
    }

    .custom-button {
        width: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        text-align: center;
        padding: 20px;
        font-size: 30px;
        font-weight: bold;
        color: white;
        border: solid black;
        cursor: pointer;
        margin-bottom: 10px;
        -webkit-text-stroke: 1px black;
    }

    .btn-bg-1 {
        background-image: url('{% static "img/technoBg.jpg" %}');
    }

    .btn-bg-2 {
        background-image: url('{% static "img/coffee.png" %}');
    }
    label{
        color: #000;
    }



    /* for form */
    .coin-transaction-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #333;
}

input[type="number"],
input[type="date"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


</style>
<div class="container custom-container" style="margin-top: 20px;">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#coinsdash">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#top-up">Top-up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#myrequests">My Requests</a>
        </li>
    </ul>

    <!-- Tab content -->
    <div class="tab-content">
        <div class="tab-pane fade show active" id="coinsdash">
            <div class="jumbotron">
                <h1 style="color: #000;">Points</h1>
                <div class="box2 mx-auto">
                    <h3 style="color: #000;">Welcome, {{first_name}} {{last_name}} !</h3>
                    <div class="row">
                        <div class="col">
                            <h6 style="color: #000;">Coins</h6>
                            <div class="box1" style="align-items: center; background-color: rgb(95, 94, 94); background-image: url('{% static "img/reward.png" %}');background-repeat: repeat; background-size:50px; padding: 20px; background-opacity: 0.35">
                              <h1 style="color: #000; text-shadow: 0 0 5px black;">{{ coin_balance }}</h1>
                            </div>
                        </div>
                        <div class="col">
                            <h6 style="color: #000;">Where to Spend?</h6>
                            <div class="box" style="align-items: center; background-color: bisque;">
                                <button class="btn custom-button btn-lg btn-bg-1">Make Reservation</button>
                                <button class="btn custom-button btn-lg btn-bg-2">Buy Coffee</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="top-up">
            <div class="jumbotron">
                <h1 style="color: #000;">Top-up</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!-- Add more fields as needed -->
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <div class="tab-pane fade" id="myrequests">
            <div class="jumbotron">
                <h1 style="color: #000;">My Requests</h1>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Unique Code</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in coin_transactions %}
                            <tr>
                                <td>{{ transaction.reference_code }}</td>
                                <td>{{ transaction.amount }}</td>
                                <td>
                                    {% if transaction.is_completed and not transaction.is_denied %}
                                        Approved
                                    {% elif not transaction.is_completed and transaction.is_denied %}
                                        Denied
                                    {% else %}
                                        Pending
                                    {% endif %}
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2">No requests found.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
