{% extends 'wallet/base.html' %}
{% load static %}

{% block body_block %}
<style>
  
#page-content-wrapper {
   background: url("{% static 'img/basebg.PNG' %}") no-repeat;
   background-size: cover;
   /* Add any other styles you need for #page-content-wrapper */
 }


 .jumbotron {
 background-color: rgba(33, 37, 41, 0.7); /* Darker background color */
 color: #ffffff;
 margin: 0 auto;
}
.login-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  margin-bottom: auto;
}

.regform {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

.custom-container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    max-width: 800px;
    margin: 0 auto;
    margin-top: 0.3in;
    padding-left: 150px;
  }

 h1 {
   color: #9C7B16;
   margin-bottom: 20px;
 }
 .regbtn {
   margin-top: 1cm;
   text-align: center;
   margin-bottom: -1cm;
 }
 .form-group {
   margin-bottom: 20px;
 }
 .form-label {
   font-weight: bold;
 }
 .form-control {
   width: 100%;
   height: 40px;
   border-radius: 10px;
 }
 .btn-primary {
   width: 500px;
   background-color: #9C7B16;
   border-radius: 50px;
   padding: 10px 20px;
 }
 a:hover, a:active, a:link, a:visited {
   color: #9C7B16;
 }
 .logo {
   width: 110px;
   height: 100px;
   margin-bottom: 20px;

 }
</style>

<div class="container custom-container">
  <div class="jumbotron">
    <img src="{% static 'img/title.png' %}" alt="Logo" class="logo" style="display: block; margin: 0 auto;">
    <div class="regform" >
      {% if registered %}
      <h1>Thank you for registering!</h1>
      {% else %}
      <h1>Points and Coins</h1>
      <h4>Create Your Account</h4>
      <form enctype="multipart/form-data" method="POST" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ profile_form.first_name.id_for_label }}">First Name:</label><br>
          {{ profile_form.first_name }}
        </div>
        <div class="form-group">
          <label for="{{ profile_form.last_name.id_for_label }}">Last Name:</label><br>
          {{ profile_form.last_name }}
        </div>
        <div class="form-group">
          <label for="{{ user_form.email.id_for_label }}">Email:</label><br>
          {{ user_form.email }}
          <p id="email-error" class="error-message"></p>
        </div>
        <div class="form-group">
          <label for="{{ user_form.password.id_for_label }}">Password:</label><br>
          {{ user_form.password }}
        </div>
        <div class="form-group">
          <label for="{{ profile_form.confirm_password.id_for_label }}">Confirm Password:</label><br>
          {{ profile_form.confirm_password }}
          <p id="password-error" class="error-message"></p>
        </div>
        <div class="regbtn">
          <input type="submit" name="" value="Register" class="btn btn-primary">
        </div>
      </form><br><br>
      
    </div>
    
    {% endif %}
    <br><br><p class="login-link">Already have an account? <a href="{% url 'wallet:user_login' %}">Log in</a></p>
  </div>
</div>
<script>
  function validateForm() {
    var email = document.getElementById("id_email").value;
    var firstNameInput = document.getElementById("id_first_name");
    var lastNameInput = document.getElementById("id_last_name");
    var password = document.getElementById("id_password").value;
    var confirmPassword = document.getElementById("id_confirm_password").value;
    var emailErrorElement = document.getElementById("email-error");
    var passwordErrorElement = document.getElementById("password-error");
    var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

    if (!emailPattern.test(email)) {
      emailErrorElement.innerHTML = "Invalid email address";
      return false;
    } else {
      emailErrorElement.innerHTML = "";
    }

    if (password !== confirmPassword) {
      passwordErrorElement.innerHTML = "Passwords do not match";
      return false;
    } else {
      passwordErrorElement.innerHTML = "";
    }


    firstNameInput.value = firstNameInput.value.charAt(0).toUpperCase() + firstNameInput.value.slice(1);
    lastNameInput.value = lastNameInput.value.charAt(0).toUpperCase() + lastNameInput.value.slice(1);


    return true;
  }
</script>
{% endblock %}